<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.A7F5A462-FC61-4808-8B90-DDAAE8616E27</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.1FC00A40-2D21-498B-83F0-4B63C5BE0395</string>
</dict>
</plist>
