name: Lint

on:
  pull_request:
    paths:
      - '**.md'
      - '**.sh'
      - '.github/workflows/lint.yml'
  push:
    branches:
      - master
    paths:
      - '**.md'
      - '**.sh'
      - '.github/workflows/lint.yml'

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v14
        with:
          globs: |
            **/*.md

  link-checker:
    name: Check Links
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check links in Markdown files
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          config-file: '.github/markdown-link-check-config.json'

  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck
          chmod +x ./tests/main.sh
          ./tests/main.sh
